[Unit]
Description=Start Motion Sensor Watch service
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/bin/SensorWatch.py

[Install]
WantedBy=multi-user.target
